<div class="container-fluid bg-light">
  <div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 pb-5 mt-5">

      <div class="text-center">
        <p>&copy; {{ year }} Yusuf Shakeel</p>
      </div>

      <div class="text-center social">

        <a href="https://www.youtube.com/yusufshakeel" target="_blank"><i class="fa fa-2x fa-youtube-square"></i></a>
        <a href="https://twitter.com/yusufshakeel" target="_blank"><i class="fa fa-2x fa-twitter-square"></i></a>
        <a href="https://www.instagram.com/yusuf_shakeel" target="_blank"><i class="fa fa-2x fa-instagram"></i></a>
        <a href="https://www.facebook.com/yusufshakeel" target="_blank"><i class="fa fa-2x fa-facebook-square"></i></a>
        <a href="https://www.linkedin.com/in/yusufshakeel" target="_blank"><i
          class="fa fa-2x fa-linkedin-square"></i></a>
        <a href="https://plus.google.com/+yusufshakeel" target="_blank"><i
          class="fa fa-2x fa-google-plus-square"></i></a>
        <a href="https://github.com/yusufshakeel" target="_blank"><i class="fa fa-2x fa-github-square"></i></a>

      </div>

      <div class="text-center mt-3">
        <p>
          <small>Feeling generous ♥ Buy me a cup of tea</small>
          <br>
          <small><a href="https://www.paypal.me/yusufshakeel">Donate via PayPal</a></small>
        </p>
      </div>

    </div>
  </div>
</div>
